* {
    -webkit-tap-highlight-color: transparent;
}
.frontPage{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
/* This is for front page */
img{
    max-width: 100%;
    height: auto;
}

.frontPageMainContainer{
    /* background-color: aqua; */
    width:100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    
}

.logoContainer{
    /* background-color: brown; */
    height: 50%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoItSelf{
    /* background-color: #8BA9F4; */
    height:90%;
}

.userInput{
    /* background-color: bisque; */
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:1rem;
    padding: .5rem;
}
.inputUserInput{
    border:2px solid #8BA9F4;
    text-transform: capitalize;
    text-align: center;
    font-size: 32px;
    border-radius: 50px;
    height:40px;
    width:50%;
    margin:1rem;
    
}
.inputUserInput::placeholder{
    color:#8BA9F4;
}

.buttonUserInput{
    background-color: #8BA9F4;
    color:white;
    border:none;
    font-size:32px;
    border-radius: 50px;
    height:40px;
    width:50%;
    margin-bottom:1rem;
    cursor: pointer;
    transition: 1s;
}

.buttonUserInput:focus{
    outline:none;
}
.buttonUserInput:hover{
    transition: 1s;
    box-shadow: 0px 3px 11px 2px#8BA9F4;
}
.buttonUserInput:active{
    transition: 0.2s;
    transform: translateY(3px);
}

.wave{
    /* background-color: pink; */
    width:2085px;
    height: 20%;
}
.waveContain{
    background: url('../wave.png') repeat-x; 
    top: -198px;
    /* width: 3840px; */
    height: 198px;
    animation: movingWave 20s linear infinite;
    transform: translate3d(0, 0, 0);
}

.errorMsg{
    background-color: #f54272;
    transition:  .5s ;
}
.removeErrorMsg{
    background-color: white;
    transition:  .5s ;
}

@keyframes movingWave{
    0%{
    margin-left: 0;
    }
    100% {
    margin-left: -2085px;
    }
}

/* small screen for phone */

@media screen and  (max-width:600px){
    .frontPage{
        display: inline-block;
    }
    .frontPageMainContainer{
        width:100%;
        /* background-color: blue; */
        border: none;
    }
    .inputUserInput{
        font-size:21px;
    }
    .buttonUserInput{
        font-size: 21px;
    }
    .wave{
        /* background-color: aquamarine; */
        width:500px;  
    }
    
}


@media screen and  (max-width:400px){
    .frontPage{
        display: inline-block;
        height: 100vh;
    }
    .frontPageMainContainer{
        width:375px;
        /* background-color: blue; */
        height: 100vh;
        overflow: hidden;
        border: none;
    }
    .inputUserInput{
        font-size:14px;
    }
    .userInput{
        height: 30vh;
    }
    .wave{
        /* background-color: aquamarine; */
        width:500px;  
        height: 20vh;
    }
    .waveContain{
        height: 20vh;
    }
}


/* End of front page */